.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listItem {
  padding-bottom: 0.5rem;
  border-bottom: 0.5px solid rgb(0, 59, 164, 0.5); /* Add a dividing line */
  margin-left: 2em;
  margin-right: 2em;
}

.listItem a {
  color: #007bff; /* Customize the link color */
  text-decoration: none;
  display: block;
  color: var(--base-color);
  letter-spacing: .5px;
  font-weight: var(--li-weight, 300);
  line-height: var(--li-height, 1.75em);
}

.listItem a:hover {
  text-decoration: underline;
}

.backgroundImageContainer {
  position: relative;
  overflow: hidden; /* Ensure the background image does not overflow */
}

.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('/img/fiskl_wave-blue-blue-gradient.svg'); /* Update this path */
  background-size: cover;
}

.listContainer {
  border: 2px solid rgb(0, 59, 164, 0.5); /* Add a border around the list */
  border-radius: 8px; /* Optional: add rounded corners */
  padding: 1rem; /* Add padding inside the border */
  background: rgba(243, 243, 246, 0.01); /* Add a semi-transparent background */
}


.features {
  position: relative;
  z-index: 1; /* Ensure content is above the background */
  padding: 2rem 0; /* Add padding to ensure content does not push to the top */
}